[Desktop Entry]
Encoding=UTF-8
Name=TDC
Comment=TDC P2P Cryptocurrency
Comment[fr]=TDC, monnaie virtuelle cryptographique pair à pair
Comment[tr]=TDC, eşten eşe kriptografik sanal para birimi
Exec=TDC-qt %u
Terminal=false
Type=Application
Icon=TDC128
MimeType=x-scheme-handler/TDC;
Categories=Office;Finance;
